body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

body *{
    padding: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    padding: 1rem;
    background: #9f9f9f;
}

header a{
    padding-left: 2rem;
    font-size: 1.5rem;
}